<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="icon" href="http://www.franklinchristopherbrooks.com/images/favicon.ico">
    <link rel="image_src" href="http://www.franklinchristopherbrooks.com/images/og-image.png">
    <link type="text/plain" rel="author" href="http://www.franklinchristopherbrooks.com/"/>
    <meta property="og:url" content="http://www.franklinchristopherbrooks.com/">
    <meta property="og:title" content="Franklin Christopher Brooks | Web Developer">
    <meta property="og:type" content="website">
    <meta property="og:image" content="http://www.franklinchristopherbrooks.com/images/og-image.png">
    <meta name="author" content="Franklin Christopher Brooks">
    <title>Franklin Christopher Brooks</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="http://www.franklinchristopherbrooks.com/style2.css">
     <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/classie/1.0.1/classie.js"></script>
    <script type="text/javascript" src="http://www.franklinchristopherbrooks.com/script.js"></script>
    <script>
        function init() {
            window.addEventListener('scroll', function(e){
                var distanceY = window.pageYOffset || document.documentElement.scrollTop,
                    shrinkOn = 100,
                    header = document.querySelector("header");
                if (distanceY > shrinkOn) {
                classie.add(header,"smaller");
                }
                else {
                    if (classie.has(header,"smaller")) {
                        classie.remove(header,"smaller");
                    }
                }
            });
        }
        window.onload = init();
    </script>
</head>
<body>
  <img id="city" src="http://www.franklinchristopherbrooks.com/images/NYC.jpg" alt="New York City skyline">
    <header id="top" class="">
        <a href="/"><h1>Franklin Christopher Brooks</h1></a>
            <nav>
                <a href="about">About</a>
                <a href="education">Education</a>
                <a href="employment">Employment</a>
                <a href="skills">Skills</a>
                <a href="contact">Contact</a>
            </nav>
    </header>

    <div id="contact" class="jumbotron">
        <div class="container">
          <br>
          <br>
          <br>
          <br>
            <h1>Contact Me</h1>
        </div>
    </div>
    <div id="form">
        <br>
        <br>
        <p data-balloon-length="large" data-balloon="This form uses CSS for form styling" data-balloon-pos="bottom">Thank you for your interest! &nbsp;Please let me know your thoughts on this site, my coding progress so far, and possible next steps in my coding career!</p>
        <br>
        <div id="formbox" class="clear">
            <form method="post" id="MyForm" class="form" action="http://www.franklinchristopherbrooks.com" enctype="multipart/form-data">
                <div class="form"><label for="name">Name: <span class="required">*</span></label></div>
                <div class="form"><input type="text" size="40" placeholder="Your name" /></div>
                <div class="form"><label for="email">E-Mail Address: <span class="required">*</span></label></div>
                <div class="form"><input type="text" size="40" placeholder="example@email.com"/></div>
                <div class="form"><label for="subject">Subject: <span class="required">*</span></label></div>
                <div class="form"><input type="text" size="40" placeholder="Subject" /></div>
                <div class="form"><label for="message">Message: <span class="required">*</span></label></div>
                <div class="form"><textarea rows="5" cols="42" name="MyTextArea"  placeholder="Your message here"></textarea></div>
                <br>
                <div class="form"><input type="hidden" value="send" name="MyForm">
                <input type="hidden" value="Version: 3.30" />
                <input type="hidden" value="en" name="language">
                <input type="hidden" value="1" name="submitted">
                <input type="submit" value="Submit" class="submit" /></div>
                <br>
            </form>
        </div>
        <a class="btn" href="#contact">Back to Top</a>
        <br>
        <br>
    </div>
    <footer class="">
        <a href="mailto:fcb@franklinchristopherbrooks.com"><img src="http://www.franklinchristopherbrooks.com/images/mail-icon.png" alt="Email Icon" class="social-icon"></a>
        <a href="https://twitter.com/franklincbrooks"><img src="http://www.franklinchristopherbrooks.com/images/twitter-icon.png" alt="Twitter Logo" class="social-icon"></a>
        <a href="https://github.com/franklinbrooks"><img src="http://www.franklinchristopherbrooks.com/images/github-icon.png" alt="Github Logo" class="social-icon"></a>
        <a href="https://www.linkedin.com/in/franklinchristopherbrooks/"><img src="http://www.franklinchristopherbrooks.com/images/linkedin-icon.png" alt="LinkedIn Logo" class="social-icon"></a>
        <p data-balloon-length="medium" data-balloon="Copyright date rendered by JavaScript" data-balloon-pos="down">&copy; <script type="text/javascript">document.write(new Date().getFullYear());</script> Franklin Christopher Brooks.</p>
        <p>
          <!--<a href="http://validator.w3.org/check?uri=referer"> -->
        <img src="http://www.w3.org/Icons/valid-xhtml10-blue.png"
              alt="Valid XHTML 1.0!"> <!-- </a> -->
        </p>
        <br>
    </footer>
</body>
</html>
