<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="icon" href="http://www.franklinchristopherbrooks.com/images/favicon.ico">
    <link rel="image_src" href="http://www.franklinchristopherbrooks.com/images/og-image.png">
    <link type="text/plain" rel="author" href="http://www.franklinchristopherbrooks.com/"/>
    <meta property="og:url" content="http://www.franklinchristopherbrooks.com/">
    <meta property="og:title" content="Franklin Christopher Brooks | Web Developer">
    <meta property="og:type" content="website">
    <meta property="og:image" content="http://www.franklinchristopherbrooks.com/images/og-image.png">
    <meta name="author" content="Franklin Christopher Brooks">
    <title>Franklin Christopher Brooks</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="http://www.franklinchristopherbrooks.com/style2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/balloon-css/0.3.0/balloon.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/classie/1.0.1/classie.js"></script>
    <script type="text/javascript" src="http://www.franklinchristopherbrooks.com/script.js"></script>
    <script>
        function init() {
            window.addEventListener('scroll', function(e){
                var distanceY = window.pageYOffset || document.documentElement.scrollTop,
                    shrinkOn = 100,
                    header = document.querySelector("header");
                if (distanceY > shrinkOn) {
                classie.add(header,"smaller");
                }
                else {
                    if (classie.has(header,"smaller")) {
                        classie.remove(header,"smaller");
                    }
                }
            });
        }
        window.onload = init();
    </script>
</head>
<body>
  <img id="city" src="http://www.franklinchristopherbrooks.com/images/NYC.jpg" alt="New York City skyline">
    <header id="top" class="">
        <a href="#top"><h1>Franklin Christopher Brooks</h1></a>
            <nav>
                <a href="about">About</a>
                <a href="education">Education</a>
                <a href="employment">Employment</a>
                <a href="skills">Skills</a>
                <a href="contact">Contact</a>
            </nav>
    </header>

    <div id="thd" class="jumbotron">
        <div class="container">
          <br>
          <br>
          <br>
          <br>
            <h1>Employment</h1>
        </div>
    </div>

    <div id="work" class="container">
    <br>
        <h2  data-balloon-length="large" data-balloon="Buttons use JavaScript to show and collapse accordion" data-balloon-pos="down">Work Experience</h2>


        <button class="accordion">The Home Depot<br>October 2008 – Present</button>
        <div class="panel">
            <p>Front End Supervisor<br>
            <img src="http://franklinchristopherbrooks.com/images/google.png" alt="Google Maps location symbol" height=16>  Long Island City, NY
            <br>
            <br>
            Responsible for interviewing for new hires, employee training,
            <br>
            and directly supervising 90+ employees</p>
        </div>
        <button class="accordion">New York City Department of Education
        <br>
        June 2005 – August 2006</button>
        <div class="panel">
            <p>Secondary English Teacher
            <br>
        <img src="http://franklinchristopherbrooks.com/images/google.png" alt="Google Maps location symbol" height=16>  New York City<br>
        NYC Teaching Fellows Program
        <br>
        <br>
        Taught middle-school English for the NYC public school system</p>
        </div>
        <button class="accordion">Tyler Rose d.b.a. Centro-Fly NYC
        <br>
        October 1999 – February 2002</button>
        <div class="panel">
            <p>Event Support Staff Supervisor<br>
            <img src="http://franklinchristopherbrooks.com/images/google.png" alt="Google Maps location symbol" height=16>  New York City
            <br>
            <br>
            Coordinated staffing and supervised operations at 2000 person capacity venue
            </p>
        </div>
        <button class="accordion">Tower Records<br>October 1988 – August 1999</button>
        <div class="panel">
            <p>Retail Merchandise Buyer
            <br>
        Internal and external sales<br>
        <img src="http://franklinchristopherbrooks.com/images/google.png" alt="Google Maps location symbol" height=16>  California and NYC
        <br>
        <br>
        Managed a $1m/year retail inventory for international retail chain</p>
        </div>
        <br>
        <div id="clearAccordion">
            <p><small>* Lapses due to full-time academic study and extensive travel abroad</small></p>
            <br>
            <a class="btn" href="contact">Learn More</a>
            <a class="btn" href="#thd">Back to Top</a>
            <br>
            <br>
            <p>References available upon request</p>
            <br>
        </div>
    </div>

    <footer class="">
        <a href="mailto:fcb@franklinchristopherbrooks.com"><img src="http://www.franklinchristopherbrooks.com/images/mail-icon.png" alt="Email Icon" class="social-icon"></a>
        <a href="https://twitter.com/franklincbrooks"><img src="http://www.franklinchristopherbrooks.com/images/twitter-icon.png" alt="Twitter Logo" class="social-icon"></a>
        <a href="https://github.com/franklinbrooks"><img src="http://www.franklinchristopherbrooks.com/images/github-icon.png" alt="Github Logo" class="social-icon"></a>
        <a href="https://www.linkedin.com/in/franklinchristopherbrooks/"><img src="http://www.franklinchristopherbrooks.com/images/linkedin-icon.png" alt="LinkedIn Logo" class="social-icon"></a>
        <p data-balloon-length="medium" data-balloon="Copyright date rendered by JavaScript" data-balloon-pos="down">&copy; <script type="text/javascript">document.write(new Date().getFullYear());</script> Franklin Christopher Brooks.</p>
        <p>
          <!--<a href="http://validator.w3.org/check?uri=referer"> -->
        <img src="http://www.w3.org/Icons/valid-xhtml10-blue.png"
              alt="Valid XHTML 1.0!"> <!-- </a> -->
        </p>
        <br>
    </footer>
</body>
    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;
            for (i = 0; i < acc.length; i++) {
                acc[i].onclick = function(){
                    this.classList.toggle("active");
                    this.nextElementSibling.classList.toggle("show");
            }
        }
    </script>
</html>
