<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="icon" href="http://www.franklinchristopherbrooks.com/images/favicon.ico">
    <link rel="image_src" href="http://www.franklinchristopherbrooks.com/images/og-image.png">
    <link type="text/plain" rel="author" href="http://www.franklinchristopherbrooks.com/"/>
    <meta property="og:url" content="http://www.franklinchristopherbrooks.com/">
    <meta property="og:title" content="Franklin Christopher Brooks | Web Developer">
    <meta property="og:type" content="website">
    <meta property="og:image" content="http://www.franklinchristopherbrooks.com/images/og-image.png">
    <meta name="author" content="Franklin Christopher Brooks">
    <title>Franklin Christopher Brooks</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="http://www.franklinchristopherbrooks.com/style2.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/classie/1.0.1/classie.js"></script>
    <script type="text/javascript" src="http://www.franklinchristopherbrooks.com/script.js"></script>
    <script>
        function init() {
            window.addEventListener('scroll', function(e){
                var distanceY = window.pageYOffset || document.documentElement.scrollTop,
                    shrinkOn = 100,
                    header = document.querySelector("header");
                if (distanceY > shrinkOn) {
                classie.add(header,"smaller");
                }
                else {
                    if (classie.has(header,"smaller")) {
                        classie.remove(header,"smaller");
                    }
                }
            });
        }
        window.onload = init();
    </script>
</head>
<body>
  <img id="city" src="http://www.franklinchristopherbrooks.com/images/NYC.jpg" alt="New York City skyline">
    <header id="top" class="">
        <a href="/"><h1>Franklin Christopher Brooks</h1></a>
            <nav>
                <a href="about">About</a>
                <a href="education">Education</a>
                <a href="employment">Employment</a>
                <a href="skills">Skills</a>
                <a href="contact">Contact</a>
            </nav>
    </header>


    <div id="nyc" class="splash">
        <div class="container">
            <h1 data-balloon-length="xlarge" data-balloon="This section uses a fixed background image of negative z-index to allow text to scroll over." data-balloon-pos="up">Franklin Christopher Brooks</h1>
            <h2>Fledgling NYC Web Developer</h2>
            <br>
            <br>
                <a class="btn" href="contact">Learn More</a>
        </div>
        <div id="arrow" data-balloon-length="large" data-balloon="CSS animation. Scroll down!" data-balloon-pos="left">
            <a href="about">v</a>
        </div>
    </div>

    <footer class="">
        <a href="mailto:fcb@franklinchristopherbrooks.com"><img src="http://www.franklinchristopherbrooks.com/images/mail-icon.png" alt="Email Icon" class="social-icon"></a>
        <a href="https://twitter.com/franklincbrooks"><img src="http://www.franklinchristopherbrooks.com/images/twitter-icon.png" alt="Twitter Logo" class="social-icon"></a>
        <a href="https://github.com/franklinbrooks"><img src="http://www.franklinchristopherbrooks.com/images/github-icon.png" alt="Github Logo" class="social-icon"></a>
        <a href="https://www.linkedin.com/in/franklinchristopherbrooks/"><img src="http://www.franklinchristopherbrooks.com/images/linkedin-icon.png" alt="LinkedIn Logo" class="social-icon"></a>
        <p data-balloon-length="medium" data-balloon="Copyright date rendered by JavaScript" data-balloon-pos="down">&copy; <script type="text/javascript">document.write(new Date().getFullYear());</script> Franklin Christopher Brooks.</p>
        <p>
          <!--<a href="http://validator.w3.org/check?uri=referer"> -->
        <img src="http://www.w3.org/Icons/valid-xhtml10-blue.png"
              alt="Valid XHTML 1.0!"> <!-- </a> -->
        </p>
        <br>
    </footer>
</body>
</html>
